.App{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
 color:  blue;
 position: absolute;
 top: 0;
}
.container{
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

input[type="text"]{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    background-color: #444;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(6px, auto);

}
button{
   padding: 5px;
    margin: 5px;
   font-size: 20px;
   font-weight: 600;
    background-color: #777;
    border-radius: 5px;
}

#clear{
    grid-column: 1/3;
}

#equal{
   grid-column: 3/5;
}
.highlight{
    background-color: aqua;
   
}

