.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: rgb(94, 94, 233);
    margin-top: 20px;
    font-size: 2rem;
}

.container {
    width: 350px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input[type="text"] {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    background-color: #444;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #555;
}

#clear {
    grid-column: span 2;
    background-color: red;
    color: #fff;
}

#equal {
    grid-column: span 2;
    background-color: green;
    color: #fff;
}

.highlight {
    background-color: #00ffff;
    color: #000;
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    input[type="text"] {
        height: 50px;
        font-size: 18px;
    }

    button {
        padding: 10px 0;
        font-size: 18px;
    }
}
